.App {
  text-align: center;
  /* using iPhone X scren size. can adjust for different screen sizes */
  max-width: 375px;
  max-height: 812px;
  margin: 3rem auto;
  border: 1px solid lightgray;
  overflow-y: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid ghostwhite;
}

.campaign-header {
  display: flex;
  border-bottom: 1px solid ghostwhite;
  padding: 1rem;
}

.campaign-icon {
  max-width: 50px;
  max-height: 50px;
  border-radius: 10px;
  margin-right: 0.5rem
}

.campaign-body {
  display: flex;
  overflow-x: auto;
  padding: 0.5rem;
  background-color: ghostwhite;
}

.hidden {
  display: none;
}

.video {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.campaign-body-cover-photo {
  width: 100px;
  height: 180px;
  border-radius: 5px;
}

.campaign-body-icon-menu {
  display: flex;
  justify-content: space-evenly;
  background: white;
  max-width: 100px;
  margin: 0.5rem 0;
  border: 2px solid aliceblue;
  border-radius: 10px;
}

.campaign-body-icon {
  height: 15px;
  width: 15px;
  margin: 0.5rem
}

.campaign-body-icon:hover {
  cursor: pointer;
}

div > a {
  cursor: pointer;
}